{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Filter Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top mb-5">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Bootstrap</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">React</a>
              </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container mt-5 p-4">

      <h3>Dependent Dropdown in Django</h3>
      <!--Search Form with csrf token-->

<form method="post" id="personForm" data-cities-url="{% url 'load_subcat' %}">
    {% csrf_token %}

    <div class="row container">
        <div class="col-4">
          {{form.category.label}}
          <hr>
          {{form.category}}
        </div>
        <div class="col-lg-4">
          {{form.subcat.label}}
          <hr>
          {{form.subcat}}
        </div>
        <div class="col-lg-4">
          {{form.title.label}}
          {{form.title}}
        </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary mt-2">
</form><!--Display Output -->


    </main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script>
    $('#id_subcat').hide()

    $('#id_category').change(function(){
      const url = '/load-subcat/'
      cat_id = $(this).val();
      console.log(cat_id)
      
      $.ajax({
        url : url,
        data:{
          'cat_id':cat_id
        },
        success : function(data){
          $('#id_subcat').html(data)
          $('#id_subcat').show()
        }
      })
    })
</script>

</body>

</html>